<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.nabeel.hifzworld.invite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hifzworld</string>
			</array>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone is used to record your recitation for a deck and to find verses by reciting them.</string>
	<key>UIAppFonts</key>
	<array>
		<string>aswaat-one.otf</string>
		<string>DigitalKhattV2.otf</string>
		<string>surah-name-v2.ttf</string>
		<string>nastaleeq.ttf</string>
		<string>NotoNastaliqUrdu-Regular.ttf</string>
	</array>
</dict>
</plist>
